body{
  margin: 15px;
  overflow-x: hidden;
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: rgb(226, 226, 226);
}


.navbar{
  display: flex;
  justify-content: flex-end;
  background: linear-gradient(120deg, #2f00ff 20px, #ff00c8 400px);
  border-radius: 20px;
  padding-right: 5px;
  gap: 2px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Add box shadow */
}

.img1{
  justify-content: flex-start;
  width: 10vh;
  margin-right: auto;
  height: auto;
  margin-left: 1rem;
  border-radius: 10px;
}


.b2 {
  padding: 4px 3px;
  font-size: 10px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  transition: background-color 0.2s ease;
  min-width: none;
  max-width: 70px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Add box shadow */
}



.b3{
  margin-left: 3vh;
}

.bt:hover{
  background-color: black;
  color: aliceblue;
  transition: background-color 0.2s ease;
}

.ceo{
  display: inline-block;
  border-radius: 5px;
  padding: 3px;
  font-weight: 650;
  font-size: 12px;
  background-image: linear-gradient(120deg, #3d12fa 0%, #5a08c4 35%, #ff00aa 100%);
  color: aliceblue;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Add box shadow */
}

.container1{
  margin-top: 6vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
  align-items: center;
}


.samimg{
  height: 25vh;
  width: auto;
  background: linear-gradient(to right bottom, #3d12fa 0%, #5a08c4 35%, #ff00aa 100%);
  border-radius: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Add box shadow */
}

.sameh{
  font-weight: 600;
  font-size: 40px;
  background: -webkit-linear-gradient(0deg, #2f00ff 6px, #ff00c8 210px);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.b5{
  padding: 4px;
  font-size: 11px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  transition: background-color 0.2s ease;
  width: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Add box shadow */
}

.b6{
  background-color: #2f00ff;
  color: aliceblue;
}

.b8{
    background-color: #2f00ff;
    color: aliceblue;
}

.breakerm{
  text-align: center;
  margin-top: 4vh;
}

hr{
  margin-top: 4vh;
}


.c1 {
  margin-top: 6vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
  grid-template-columns: 2fr 1fr;
  align-items: center;
  direction: rtl;
}

.imgdeadly {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  width: 20vh; /* Allow the image to resize based on its natural size */
  background: linear-gradient(to right bottom, #3d12fa 0%, #5a08c4 35%, #ff00aa 100%);
  border-radius: 40px;
  border-bottom-left-radius: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.deadly {
  width: 100%; /* Ensure the container takes full width of the parent container */
  max-width: 30vh; /* Set a maximum width for the container */
  height: 35vh;
  width: auto;
  margin-right: 10vh;
  margin-bottom: 10vh;
}



.reversedbut {
  display: flex;
  gap: 4px;
}

.b9 {
  order: -1; /* Move the second button to the left (before the first button) */
}

.b8 {
  order: 1; /* Move the first button to the right (after the second button) */
}


.f1{
  font-size: 30px;
}




















@media screen and (min-width: 768px) {
  .navbar{
    background: linear-gradient(120deg, #2f00ff 1px, #ff00c8 1800px);
  } 
}
